@import url('./vendor/normalize.css');
@import url('./vendor/fonts/inter.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/elements/elements.css');
@import url('./blocks/footer/footer.css');



.form{
  width: 358px;
  margin: auto;
}

.modal__title{
  width: 330px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 36px;
  margin: auto;
  margin-bottom: 64px;
  margin-top: 34px;
}
.form__field1{
  width: 358px;
  height: 27.26px;
  border: none;
  padding-bottom: 13.26px;
  border-bottom: 1px solid #000000;
  margin-bottom: 29.74px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}


.form__field2{
  width: 358px;
  height: 27.26px;
  border: none;
  padding-bottom: 13.26px;
  border-bottom: 1px solid #000000;
  margin-bottom: 48px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #000000;

}
.save__button{
  width: 358px;
  color: #FFFFFF;
  height: 50.15px;
  border-radius: 2px;
  margin-bottom: 36px;
  background: #000000;

}
.save__button:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);

}


.button-close{
  position: absolute;
  width: 40.7px;
  height: 40.7px;
  background: black;
  background-image: url('./images/Close.png');
  background-repeat: no-repeat;
  background-size: cover;
  top: -45px;
  left: 410px;
}

.button-close:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
}

.modal{
  position: fixed;
  border: 2px red solid;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px #00000026;
  border-radius: 10px;
  display: none; 
  z-index: 1;
  left: 0px;
  top: 0px;
  background:#1818188f; /* Fallback color */

}
.modal:before{
  content: "";
  height: 100%;
  width: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: -1;
}

.modal__info{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  width: 430px;
  border: 2px solid red;
  margin: auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  top: 195px;
}

/* The Modal (background) */



/* MODALLLLLLLLLLLLL */
/* 
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
  
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }
  .close-modal{
    background: #000000;
  }
  
  

  .modal-header .close-modal {
    font-size: 1.5rem;
  }
  
   */