.profile__avatar{
    margin-right: 30px;
}   
.profile__avatar{
    width: 168.75px;
    height: 127.5px;
    display: flex;
    margin-right: 3.75px;
}

@media screen and (max-width: 320px){
    .profile__avatar{
        margin: 0;
        margin-right: 53px;
        margin-left: 59px;
    }
}
    