@import url('../vendor/normalize.css');
@import url('../vendor/fonts/inter.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/modal/modal.css');




/* Modal Figures */

.modal__figure-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: 100% 100%;
}
.figure__image {
  max-width: 75vw;
  max-height: 75vh;
  margin: 0;
  background-size: cover;
  display: block;
}

.figure__caption{
  color: #fff;
  margin: 10px;
}

.show-modal {
  display: block;
}

.figure__exit{
  position: absolute;
  width: 41px;
  height: 41px;
  background: black;
  background-image: url('../images/black.png');
  background-repeat: no-repeat;
  background-size: cover;
  right: -40px;
  top: -40px;
  border: 0;
  padding: 0;
  margin: 0;
}

.figure__exit:hover{
  background-image: url('../images/close2.png');
  cursor: pointer;
}


@media screen and (max-width: 320px) {
.figure{
  position: fixed;
  width: 100%;
  height: 100%;
  display: none; 
  z-index: 1;
  background:#1818188f;
  border: 2px solid red;
}
.modal__figure-container{
  border: 2px solid blue;
  width: 240px;
  height: 299px;
}

.show-modal {
  display: block;
 
}
.figure__image{
  width: 100%;
  height: 100%;
}
.figure__caption{
  width: 100%;
  height: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  border: 2px solid red;
  margin: 0;
  color: #FFFFFF;
}
}