.elements__item{
    display: flex;
    max-width: 282px;
    height: 361px;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: url('../../../images/image1.jpg');
    background-size: 282px 282px;
    background-repeat: no-repeat;
    position: relative;
}
@media screen and (max-width: 320px){
    .elements__item{
        margin-bottom: 20px;
    }
}