
.modal__form-name{
    width: 358px;
    height: 27.26px;
    border: none;
    padding-bottom: 13.26px;
    border-bottom: 1px solid #000000;
    margin-bottom: 29.74px;
  
    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
  